# Python cache
__pycache__/
*.py[cod]

# Virtual Environment
appvenv/
venv/
env/

# Django
db.sqlite3

# VSCode
.vscode/

# Mac
.DS_Store

# Python Version
.python-version

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# AI Model Files
*.h5
*.pth
*.pt

# Dataset
dataset/
data/

# Uploaded Files
media/

# Environment Variables
.env